<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pizza Brothers</title>
    <link href="{{ url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="../static/Pizza Brothers Logo.png">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="script.js" defer></script>

</head>
<body>

    <section>
        <nav>
            <div class="logo">
                <img src="../static/Pizza Brothers Logo.png" class="logo">   
            </div>

        </nav>
    </section>

    <div class="container">
    
        <h1>Payment Method</h1>
        <div class="options">
            <a href="/view_order">
            <div class="option-box1" onclick="sendData('Eat in')">
                <img src="../static/cash.png">
                <p>Card</p>
            </div>
            </a>
            <a href="/view_order">
            <div class="option-box2">
                <img src="../static/credit card.png" onclick="sendData('Take away')">
                <p>Cash</p>
            </div>
            </a>

        </div>
        <div class="rectangle-box1"></div>
        <div class=" rectangle-box2"></div>
    </div>
</body>
</html>
